body{
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
}
header{
    background: #008489;
    height: 66px;
}
header * {
	font-family: 'Righteous', cursive;
    color: white;
   
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2px;

    
}
header .logo-text{
    margin: 8px;
}
header .logo-text span{
    color:#05f7ff;
} 
.showing{
    max-height: 500px;
}
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
header ul li{
    float: left;
    position: relative;
}
header ul li ul{
    float: left;
    position: absolute;
    top:66px;
    right: 0px;
    width: 180px;
    display: none;
   
    
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%
    }
header ul li ul li a{
    padding: 10px;
    background: white;
    color: #444;
}
header ul li ul li a:hover{
    background: #d5d6d6;
}
header ul li a{
    display: block;
    padding: 21px;
    font-size: 20px;
    text-decoration: none;
}
header ul li a:hover{
    background: #006669;
    transition: 0.5s;
}

header .menu-toggle{
   display: none;
}
@media only screen and (max-width:770px){
    header{
        position: relative;
    }
    header ul{
        width: 100%;
        background: #0E94A0;
        max-height: 0px;
        overflow: hidden;
    }
    header ul li{
        width: 100%; 
    }
    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a{
    padding: 10px;
    background: #0E94A0;
    color: white;
    padding-left: 50px;
}
    header ul li ul{
    display: none;
   
    
}
    header ul li ul li a:hover{
        background:white;
            color:#006669;
    }
    
    header .menu-toggle{
   display:block;
        position: absolute;
    right: 20px;
        top: 20px;
        font-size: 27px;
         
}
}

